@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

hr {
    width: 80%;
    margin: 10px auto;
}

#container {
    margin: 5px 50px
}

#header {
    margin: 20px 0px;
}

#skills {
    margin-bottom: 20px;
}

#education {
    margin-bottom: 20px;
}

#experience ul {
    margin: 5px 40px;
}

p {
    font-weight: 500;
}

#experience-2 {
    margin-top: 10px;
}

#footer {
    margin: 20px 0px;
}

/* colors and title */

.color-green {
    color: rgb(97, 212, 97);
    font-weight: 600;
}

.color-blue {
    color: rgb(127, 208, 255);
    font-weight: 600;
}

.title {
    margin-bottom: 10px;
}
